.sidebar-wrapper {
  background-color: var(--azul-secundario-claro);
  width: auto;
  margin-left: 20px;
  margin-right: 10px;
  margin-top: 30px;
  height: calc(100% - 130px);
  position: fixed;
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
  border-radius: 2px;
  padding: 1.5rem 0.5rem;
  z-index: 5000;
}

.sidebar-size {
  position: relative;
}

@media (min-width: 992px) {
  .sidebar-wrapper {
    overflow-y: auto;
    border-top-left-radius:34px;
    border-top-right-radius:34px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    transform:translatex(0px) translatey(0px);
  }
}

@media (max-width: 992px) {
  .sidebar-wrapper {
    width: 100%;
    margin: 0 !important;
    height: 100%;
  }
}
