.antt-calendar .p-button-secondary {
  background: var(--branco)!important;
  border: 1px solid var(--azul-primario-claro)!important;
  color: var(--azul-primario-claro)!important;
}
.antt-calendar {
  box-shadow: none!important;
}

.antt-calendar .p-inputtext:hover {
  border: 1px solid #ced4da!important;
}