:root {
  --azul-institucional: #0b476d;
  --rosso-leggero : #0565a3;
  --rosso-leggero-sidebar : #cadae4;

  --azul-primario: #0072bc;
  --azul-primario-claro: #0588dd;
  --azul-primario-escuro: #0565a3;

  --azul-secundario: #50c6e9;
  --azul-secundario-claro: #72cde8;
  --azul-secundario-escuro: #15b5e5;

  --laranja-primario: #f7b111;
  --laranja-primario-claro: #ffc73c;
  --laranja-primario-escuro: #e7a000;

  --sucess: #45b75f;
  --danger: #dc3545;
  --warning: #f9e42a;

  --branco: white;
  --preto: #191919;
  --cinza: #dee2e6;

  --info: var(--azul-secundario);
  
  --default: #495057;

  --primary-color: #01090e!important;
}
