.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
  color: black!important;
}
.p-dropdown {
  box-shadow: unset!important;
  border: 1px solid #ced4da!important;
}

.p-dropdown-label {
  border: none!important;
}
