
.text-red {color: var(--danger) !important;}
.text-red-50 {color: var(--danger-50) !important;}
.text-red-100 {color: var(--danger-100) !important;}
.text-red-200 {color: var(--danger-200) !important;}
.text-red-300 {color: var(--danger-300) !important;}
.text-red-400 {color: var(--danger-400) !important;}
.text-red-500 {color: var(--danger-500) !important;}
.text-red-600 {color: var(--danger-600) !important;}
.text-red-700 {color: var(--danger-700) !important;}
.text-red-800 {color: var(--danger-800) !important;}
.text-red-900 {color: var(--danger-900) !important;}